.taskList {
    margin: 4rem 0;
}

.taskList ul {
    padding: 0;
}

.emptyTaskList {
    padding: 4rem 1.5rem;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    text-align: center;
    font-size: 1rem;
}

.clipBoardIcon {
    display: inline;
    color: var(--gray-400);
}
